extends layouts/main

block content
  a.btn.overwrite(href=`${basePath}/overview?path=${path.split('/')[0]}`)
    svg.feather
      use(href=`${basePath}/static/vendor/feather-icons/feather-sprite.svg#x`)

  div.display-wrapper
    div.display-container
      if file.isImage
        img(src=`${basePath}/api/image?path=${path}`)
      else if file.isVideo
        video(controls)
          source(src=`${basePath}/api/video?path=${path}`)
    p.text-center= `${path}`
