extends layouts/main

block content
  a.btn(href=`/overview?path=${path.split('/')[0]}`)
    svg(class="feather")
      use(href="/static/vendor/feather-icons/feather-sprite.svg#x")

  div
    if file.isImage
      img(src=`/api/image?path=${path}`)
      p= `${path}`
    else if file.isVideo
      video(controls)
        source(src=`/api/video?path=${path}`)
      p= `${path}/${name}`
