extends layouts/main

block content
  a.btn(href=`/slideshow?path=${path}`)
    svg(class="feather")
      use(href="/static/vendor/feather-icons/feather-sprite.svg#monitor")

  div.overview-grid
    for file in files
      div.file-preview
        if file.isImage
          img(src=`/api/image?path=${path}/${file.name}` width=320 height=240)
          p
            a(href=`/detail?path="${path}/${file.name}"`)= `${path}/${file.name}`
        else if file.isVideo
          video(width=320 height=240 controls)
            source(src=`/api/video?path=${path}/${file.name}`)
          p
            a(href=`/detail?path="${path}/${file.name}"`)= `${path}/${file.name}`
