extends layouts/main

block content
  aside.page-controls
    a.btn.overwrite(href=`${basePath}/overview?path=${path}`)
      svg.feather
        use(href=`${basePath}/static/vendor/feather-icons/feather-sprite.svg#arrow-left`)
      span.sr-only Back
    a.btn.overwrite#ctrl-fullscreen(href=`#`)
      svg.feather
        use(href=`${basePath}/static/vendor/feather-icons/feather-sprite.svg#maximize-2`)
      span.sr-only Fullscreen

  div.display-wrapper
    div.display-container
      div#img-display.hidden
        img(src="")

      div#vid-display.hidden
        video(controls)
          source(src="")

  div#slideshow-ctrl
    button#ctrl-previous.btn
      svg.feather
        use(href=`${basePath}/static/vendor/feather-icons/feather-sprite.svg#skip-back`)
      span.sr-only Previous
    button#ctrl-play-pause.btn
      svg.feather
        use(href=`${basePath}/static/vendor/feather-icons/feather-sprite.svg#pause`)
      span.sr-only Play / Pause
    button#ctrl-next.btn
      svg.feather
        use(href=`${basePath}/static/vendor/feather-icons/feather-sprite.svg#skip-forward`)
      span.sr-only Next

  pre.hidden#server-path= `${basePath}`
  pre.hidden#slideshow-path= `${path}`
  pre.hidden#slideshow-files= `${JSON.stringify(files)}`
  pre.hidden#slideshow-config= `${JSON.stringify(config)}`

  script(src=`${basePath}/static/scripts/slideshow.js`)
